<div class="well">
    <div id="overlay">
      <div class="container">
        <div class="page-header">
        <br>
          <h2>Real News From NY Times</h2>
          <h2></h2>
          <h3></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-warning">

  <div class="panel-heading">
    <h3 class="panel-title">There are no articles yet!</h3>
  </div>
  <div class="panel-body">

  </div>
</div>
