<nav>
   <div class="nav-wrapper blue">
     <a href="/" class="brand-logo left">Mongo Scraper</a>
     <ul class="right" id="nav-mobile">
       <li><a href="/">Home</a></li>
       <li><a href="/articles">Saved Articles</a></li>
       <li><a href="/scrape">Scrape New Articles</a></li>
     </ul>
   </div>
 </nav>
